<div class="col-sm-8 blog-main">
  <div class="continer py-3 mb-5 border-bottom">
    <h3 class="mx-2 ">
      Fighting roots
    </h3>
    <%= link_to 'Write a New Blog', new_blog_path, class: 'mx-2' if logged_in?(:site_admin) %>
  </div>
    
  <h2><%= @blog.title %></h2>
  <%= link_to 'Edit', edit_blog_path(@blog) if logged_in?(:site_admin) %>
  <p><%= @blog.body %></p>

</div>
